@import "components/container";
@import "components/header";
@import "components/main";
@import "components/board";
@import "components/canvas";

* {
    margin: 0;
    padding: 0;
}
body {
    height: $container-height;
}
body:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #045a8f;
    z-index: -1;
    margin: 1em;
}
body.painting:after {
    display: none;
}

@media (min-width: 1025px) {
    body:after {
        background-color: rgba(100, 100, 200, 50);
    }
}
@media (max-width: 1024px) { ////625
    body:after {
        background-color: #1da1f2;
    }
}
