.footer {
    position: absolute;
    left: 2em;
    bottom: 2em;
    padding: 1em;
    background-color: transparent;
    color: darkgoldenrod;
    transition: all 250ms linear;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    a {
        color: darkgoldenrod;
        text-decoration: none;
    }
    &:hover {
        background-color: transparentize(#F5B72C, 0.3);
        color: whitesmoke;
        a {
            color: #121212;
        }
    }
}
@media (max-width: 1024px) {
    .footer {
        color: #2a698f;
        left: auto;
        padding: 0;
        &:hover {
            background-color: transparent;
        }
    }
}
